.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &_nav {
    display: flex;
    gap: 10px;
    background-color: #191919;
    border: #484848 solid 1px;
    padding: 10px 15px;
    border-radius: 50px;

    @media (min-width: 768px) {
      gap: 25px;
      font-size: 24px;
    }
  }

  &_nav:hover {
    scale: 1.01;
  }

  &_link {
    width: 61px;
    height: 35px;
    border-radius: 25px;
    color: #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      width: 70px;
      height: 40px;
    }
  }

  &_link:hover {
    background-color: #2a2a2a;
    color: #eeeeee;
  }

  &_link:active {
    background-color: #313131;
    border: 1px solid #606060;
  }

  &_link-activated {
    color: #eeeeee;
    background-color: #313131;
    border: 1px solid #484848;
  }
}

.activated {
  color: #eeeeee;
  background-color: #313131;
  border: 1px solid #484848;
}
