.main-container {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 130px;
    margin-bottom: 0;
  }
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @media (min-width: 768px) {
    margin: 30px 0;

    top: 0;
    bottom: auto;
  }

  &_nav {
    display: flex;
    gap: 10px;
    background-color: #191919;
    border: #484848 solid 1px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;

    @media (min-width: 768px) {
      gap: 25px;
      font-size: 24px;
    }
  }

  &_nav:hover {
    transform: scale(1.01);
  }

  &_link {
    width: 61px;
    height: 35px;
    border-radius: 25px;
    color: #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;

    @media (min-width: 768px) {
      width: 70px;
      height: 40px;
    }
  }

  &_link:hover {
    background-color: #2a2a2a;
    color: #eeeeee;
  }

  &_link:active {
    background-color: #313131;
    border: 1px solid #606060;
  }

  &_link-activated {
    color: #eeeeee;
    background-color: #313131;
    border: 1px solid #484848;
  }
}

.activated {
  color: #eeeeee;
  background-color: #313131;
  border: 1px solid #484848;
}
