.carousel-container {
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;

  // height: 400px;

  background-color: #191919;
  border: #484848 solid 1px;
  box-sizing: border-box;
  padding: 15px 30px;

  &:hover {
    background-color: #2a2a2a;
    color: #eeeeee;
  }

  &:active {
    background-color: #313131;
    border: 1px solid #606060;
  }

  @media (min-width: 768px) {
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 40px 60px;
  }
}

.works-carousel {
  width: 100%;
  padding-top: 56.25%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    border-radius: 25px;
  }

  &_slide {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    animation: slideTransition 0.2s ease-in-out;

    @media (min-width: 768px) {
      border-radius: 25px;
    }
  }

  @keyframes slideTransition {
    from {
      opacity: 0;
      scale: 0.9;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  .slideCounter {
    bottom: -13px;
    color: #b4b4b4;
    font-size: 8px;
    position: absolute;
    margin: auto;

    @media (min-width: 768px) {
      bottom: -30px;
      font-size: 13px;
    }
  }

  .btn {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: scale 0.1s ease-in-out;

    &:hover {
      scale: 1.4;
    }

    @media (min-width: 768px) {
      height: 40px;
      width: 22.5px;
    }

    &.arrowLeft {
      position: absolute;
      left: -20px;

      @media (min-width: 768px) {
        left: -40px;
      }
    }

    &.arrowRight {
      position: absolute;
      right: -20px;

      @media (min-width: 768px) {
        right: -40px;
      }
    }
  }
}
