.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 768px) {
    gap: 25px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 25px;
    }
  }

  &_content {
    // font-size: 12px;
    background-color: #191919;
    // border: #3a3a3a solid 1px;
    border: #484848 solid 1px;
    padding: 20px 20px;
    border-radius: 10px;
    min-width: 25%;

    @media (min-width: 768px) {
      gap: 5px;
      border-radius: 25px;
    }

    &_last {
      margin-bottom: 50px;

      @media (min-width: 768px) {
        margin-bottom: 50px;
      }
    }
  }

  &_title {
    color: #eeeeee;
    margin-bottom: 20px;
    text-align: center;
  }
}
