strong {
  font-weight: 700;
  color: #eeeeee;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media (min-width: 768px) {
    gap: 30px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 768px) {
      gap: 30px;
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_content {
    background-color: #191919;
    border: #484848 solid 1px;
    padding: 20px 20px;
    border-radius: 10px;

    @media (min-width: 1024px) {
      border-radius: 25px;
      width: 48%;
    }

    &_last {
      max-width: fit-content;
    }
  }

  &_title {
    color: #eeeeee;
    margin-bottom: 20px;
    text-align: center;
  }
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #2a2a2a;

  @media (min-width: 768px) {
    border-radius: 25px;
    padding: 20px;
    gap: 50px;
  }
}

.technology {
  height: 30px;

  @media (min-width: 768px) {
    height: 50px;
  }
}
