.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-right: 100px;
    margin-left: 100px;
  }
}
body {
  background-color: #111111;
  // couleur la plus contrasté pour le texte
  // color: #eeeeee;
  // un peu moins contrasté
  color: #b4b4b4;
}
