.projectLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  &_container {
    display: flex;
    gap: 15px;
    background-color: #191919;
    border: #484848 solid 1px;
    padding: 10px 15px;
    border-radius: 50px;

    // transition: 0.2s ease-in-out;

    // &:hover {
    //   scale: 1.2;
    // }

    @media (min-width: 768px) {
      gap: 25px;
      font-size: 24px;
    }
  }

  &_icon {
    width: 70px;
    height: 40px;
    border-radius: 25px;
    color: #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #2a2a2a;
      color: white;
      scale: 1.2;
    }

    &:active {
      background-color: #313131;
      border: 1px solid #606060;
    }

    &-activated {
      color: #eeeeee;
      background-color: #313131;
      border: 1px solid #484848;
    }
  }
}
